.flip-text-wrapper {
  display: inline-block;
}

.flip-char {
  animation-name: flip-char-anim;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: both;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
  display: inline-block;
}

@keyframes flip-char-anim {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  10%, 90% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}
